.title {
  background: #217346;
  text-align: center;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
}

.title .date {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  padding: 20px;
  font-weight: 600;
}

.days {
  background: #f3f2f1;
  display: grid;
  place-content: center;
  text-align: center;
  grid-template-columns: 3em 10px repeat(7, 1fr);
  position: sticky;
  top: 3em;
  z-index: 10;
  border-bottom: 2px solid #dadce0;
}

.day {
  border-left: 1px solid #dadce0;
}

.content {
  display: grid;
  grid-template-columns: 3em 10px repeat(7, 1fr);
  grid-template-rows: repeat(24, 3em);
}

.time {
  grid-column: 1;
  text-align: right;
  align-self: end;
  font-size: 80%;
  position: relative;
  bottom: -1ex;
  color: #70757a;
  padding-right: 2px;
}

.col {
  border-right: 1px solid #dadce0;
  grid-row: 1 / span 24;
  grid-column: span 1;
}

.filler {
  width: 22px;
  background: #f3f2f1;
  cursor: pointer;
  z-index: 9;
}
.filler-col {
  grid-row: 1 / -1;
  grid-column: 2;
  border-right: 1px solid #dadce0;
}

.row {
  grid-column: 2 / -1;
  border-bottom: 1px solid #dadce0;
}

.event {
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 80%;
  overflow: auto;
}

.weekend {
  background-color: #f1f3f4;
}

.current-time {
  border-top: 2px solid #ea4335;
  position: relative;
}

.circle {
  width: 12px;
  height: 12px;
  border: 1px solid #ea4335;
  border-radius: 50%;
  background: #ea4335;
  position: relative;
  top: -6px;
  left: -6px;
}

.current {
  font-weight: bold;
}
